<div class="corporation_profile">
  <% if current_corporation.image? %>
    <%= image_tag (current_corporation.image.url),width:"300px", height:"300px" %>
  <% else %>
    <%= image_tag "default2.jpg",width:"300px" %>
  <% end %>
  <div class="tab-wrap">
    <input id="TAB02-01" type="radio" name="TAB02" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB02-01">プロフィール</label>
      <div class="tab-content">
        <table>
          <tr>
          <br>
          <br>
            <th>法人名</th>
            <td><%= current_corporation.name %></td>
          </tr>
          <tr>
            <th>所在地</th>
            <td><%= current_corporation.area %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= current_corporation.email %></td>
          </tr>
          <tr>
            <th>紹介文</th>
            <td><%= current_corporation.introduction %></td>
          </tr>
        </table>
      </div>
    <input id="TAB02-02" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label" for="TAB02-02">スカウトした看護師(<%= @favorite_corporation.count %>人)</label>
      <div class="tab-content">
        <tr>
          <td>
          <% @favorite_corporation.each do |f| %>
            <p><%= link_to f.name, user_path(f.id) %> | <%= link_to "削除",corporations_favorite_path(id: current_corporation.corporations_favorites.find_by(user_id: @user.ids)),method: :delete %></p>
            <% end %>
          </td>
        </tr>
      </div>
<br>
<br>
<%= link_to 'プロフィール編集', edit_corporation_registration_path, class: "btn-square-pop" %>
<%= link_to '戻る', :back, class: "btn-square-pop" %>