<h3>法人名</h3>
<%= current_corporation.name %>
<h3>所在地</h3>
<%= current_corporation.area %>
<h3>メールアドレス</h3>
<%= current_corporation.email %>
<h3>紹介文</h3>
<%= current_corporation.introduction %>
<h3>アイコン</h3>

<%= link_to 'プロフィール編集', edit_corporation_registration_path %>
<%= link_to '戻る', :back %>