
<div class="login">
<h2>ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<br>
  <div class="actions">
    <p><%= f.submit 'ログインする', class:"btn-square" %></p>
    <p><%= link_to 'ゲストユーザー', rumors_guest_sign_in_path, method: :post, class:"btn-square" %></p>
    <p><%= link_to 'Googleアカウントでログイン', user_google_omniauth_authorize_path, class:"btn-square" %></p>
  </div>
<% end %>
<br>
<%= link_to ("パスワードをお忘れですか？"), new_password_path(resource_name) %><br />
</div>