<div class="login">
<h2><%= ('ログイン') %></h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
  </div>
<br>
  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :ログインを記憶 %>
    </div>
  <% end %>
  <br>
  <div class="actions">
    <p><%= f.submit ('ログイン'), class: "btn-square-pop" %></p>
    <p><%= link_to 'ゲストユーザー', jobs_guest_sign_in_path, method: :post, class: "btn-square-pop" %></p>
  </div>
  <br>
  <%= link_to t("パスワードをお忘れですか？"), new_password_path(resource_name) %>
<% end %>
</div>
