<%= form_with(model: @job, local: true, url: new_or_edit) do |form| %>
  <% if @job.errors.any? %>
    <h2><%= @job.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form.label :法人名 %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :エリア %>
  <%= form.text_field :area %>
  <br>
  <%= form.label :募集人数 %>
  <%= form.number_field :people %>
  <br>
  <%= form.label :求人内容 %>
  <%= form.text_area :content %>
  <br>
  <%= form.submit %>
  <% end %>
  <%= link_to '求人一覧へ戻る', jobs_path %>