<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @job, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :area %>
  <%= form.hidden_field :people %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :label_ids, :value => params[:job][:label_ids], multiple: true %>
  <p>タイトル:<%= @job.name %></p>
  <br>
  <p>本文:<%= @job.area %></p>
  <br>
  <p>募集人数:<%= @job.people %></p>
  <br>
  <p>求人内容:<%= @job.content %></p>
  <br>
  
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
