<h1>求人一覧</h1>
<table> 
  <tr>
    <th>法人名</th>
    <th>エリア</th>
    <th>募集人数</th>
    <th>求人内容</th>
  </tr>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.corporation.name %></td>
    <td><%= job.name %></td>
    <td><%= job.area %></td>
    <td><%= job.people %></td>
    <td><%= job.content %></td>
    <td><%= link_to '詳細を確認する', job_path(job.id) %></td>
    <td><%= link_to '求人を編集する', edit_job_path(job.id) %></td>
    <td><%= link_to '求人を削除する', job_path(job.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しく求人を投稿する', new_job_path %>