<h1>求人詳細画面</h1>
<p>法人名: <%= @job.name %></p>
<p>エリア: <%= @job.area %></p>
<p>募集人数: <%= @job.people %>名</p>
<p>求人内容: <%= @job.content %></p>
  <% if @favorite.present? && current_user%>
    <p>エントリー済み</p>
  <% elsif current_corporation %>
    <br>
  <% else %>
    <%= link_to 'エントリーする', favorites_path(job_id: @job.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <% if @job.corporation == current_corporation %>
  <%= link_to '編集', edit_job_path(@job.id) %>
  <%= link_to '削除', job_path(@job.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
  <% end %>
  <%= link_to '戻る', :back %>