<h1>求人詳細画面</h1>
<p>法人名: <%= @job.name %></p>
<p>エリア: <%= @job.area %></p>
<p>働いていた時期: <%= @job.people %></p>
<p>求人内容: <%= @job.content %></p>
  <% if @favorite.present? %>
    <br>
  <% else %>
    <%= link_to 'エントリーする', favorites_path(job_id: @job.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to '一覧に戻る', users_path %>