<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item active">
    <%= image_tag "main1", class: "main_images", alt:"..."%>
  </div>
  <div class="carousel-item">
    <%= image_tag "main3", class: "main_images", alt:"..."%>
  </div>
  <div class="carousel-item">
    <%= image_tag "main2", class: "main_images", alt:"..."%>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
  <section class="function">
    <h1>SERVICE</h1>
    <div class="function-images">
      <div class="function-image">
        <%= image_tag "function1", class: "f-images"%>
        <h3>エントリー機能</h3>
      </div>
      <div class="function-image">
        <%= image_tag "hp", class: "f-images"%>
        <h3>スカウト機能</h3>
      </div>
      <div class="function-image">
        <%= image_tag "rumor", class: "f-images"%>
        <h3>クチコミ機能</h3>
      </div>
      <div class="function-image">
        <%= image_tag "msg", class: "f-images"%>
        <h3>メッセージ機能</h3>
      </div>
    </div>
  </section>
  <section class="about">
    <h1>About Nurse Worker</h1>
    <br>
    <p>
      Nurse Workerは、医療従事者のために作成された求人情報アプリです。<br>
      紹介料による転職失敗を無くしたいという想いから法人様と看護師様で直接連絡を取り合う事ができます。
    </p>
    <p>
      クチコミ閲覧、メッセージ交換によって求人票だけでは分からない情報を得る事が可能なので、<br>
      看護師様自ら情報を集め、自分が求める職場を見つける事が可能です。
    </p>
  </section>