<h3>ユーザー名</h3>
<%= @user.name %>
<h3>年齢</h3>
<%= @user.age%>
<h3>エリア</h3>
<%= @user.area %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>自己紹介</h3>
<%= @user.introduction%>
<h3>アイコン</h3>
<%= @user.icon %>
<br>
<% if @user == current_user %>
<%= link_to 'プロフィール編集', edit_user_registration_path %>
<br>
<%= link_to '戻る', :back %>
<% elsif @favorite.presence %> 
<p>面接オファー済み</p>
<% else %>
<%= link_to '面接オファー', corporations_favorites_path(user_id: @user.id), method: :post, class: 'btn btn-primary' %>
<% end %>