<h1><%= @user.name %>のプロフィール</h1>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>年齢</h3>
<%= @user.age%>
<h3>エリア</h3>
<%= @user.area %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>自己紹介</h3>
<%= @user.introduction%>
<h3>アイコン</h3>
<%= @user.icon %>
<br>
<%= link_to 'プロフィール編集', edit_user_registration_path %>
<% if @favorite.present? %>
<%= link_to 'お気に入り解除する', corporations_favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
<%= link_to 'お気に入りする', corporations_favorites_path(user_id: @user.id), method: :post, class: 'btn btn-primary' %>
<% end %>