<div class="profile">
<% if @user.image? %>
<%= image_tag (@user.image.url),width:"300px",height:"300px" %>
<% else %>
<%= image_tag "default.png",width:"300px" %>
<% end %>


<div class="tab-wrap">
    <input id="TAB02-01" type="radio" name="TAB02" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB02-01">プロフィール</label>
    <div class="tab-content">
    <table>
    <tr>
    <th>ユーザー名</th>
    <td><p><%= @user.name %>
    <% if current_user && @user != current_user%>
    <%= render 'follow_form', user: @user, class: "btn-square-pop" %>
    <% end %></p>
    </td>
    </tr>
    <tr>
    <th>年齢</th>
    <td><%= @user.age%>歳</td>
    </tr>
    <tr>
    <th>エリア</th>
    <td><%= @user.area %><td>
    </tr>
    <tr>
    <% if @user == current_user %>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
    <% end %>
    </tr>
    <tr>
    <th>自己PR</th>
    <td><%= @user.introduction%></td>
    </tr>
    </table>
    </div>
    <input id="TAB02-02" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label" for="TAB02-02">フォロー(<%= @user.following.count %>)</label>
    <div class="tab-content">
    <% @user.following.each do |f| %>
      <p><%= link_to f.name, user_path(f.id) %>
      <% if @user == current_user %>
      <% if f.following.find_by(id: @user.id).present? %>|
      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: f.id), method: :post %></p>
      <% end %>
      <% end %>
      <% end %>
    </div>
    <input id="TAB02-03" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label" for="TAB02-03">フォロワー(<%= @user.followers.count %>)</label>
    <div class="tab-content">
    <% @user.followers.each do |f| %>
      <p><%= link_to f.name, user_path(f.id) %>
      <% if @user == current_user %>
      <% if f.followers.find_by(id: @user.id).present? %>|
      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: f.id), method: :post %></p>
      <% end %>
      <% end %>
      <% end %>
    </div>
    <% if @user == current_user %>
    <input id="TAB02-04" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label" for="TAB02-04">エントリーした法人(<%= @user.favorites.count %>)</label>
    <div class="tab-content">
    <% @favorite.each do |f| %>
      <p><%= link_to f.name, job_path(f.id) %> | <%= link_to "削除",favorite_path(id: current_user.favorites.find_by(job_id: @job.ids)),method: :delete %>
      <% end %>
    </div>
    <% end %>
</div>


<% if @user == current_user %>
<br>
<% elsif current_corporation && @favorite.presence %> 
<p>面接オファー済み</p>
<% elsif current_corporation %>
<%= link_to '面接オファー', corporations_favorites_path(user_id: @user.id), method: :post, class: "btn-square-pop" %>
<% end %>
<% if @user == current_user %>
<%= link_to 'プロフィール編集', edit_user_registration_path, class: "btn-square-pop" %>
<% end %>
<% if current_corporation %>
<% elsif current_user.admin? %>
<%= link_to '管理画面', admins_path, class: "btn-square-pop" %>
<% end %>
<%= link_to '戻る', :back, class: "btn-square-pop" %>
</div>