<h1>クチコミ一覧</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :name, "フリーワード検索" %>
  <%= f.search_field :name_or_area_or_content_cont %>
  <%= f.label :働いていた時期 %>
  <%= f.number_field :season_gteq %>〜
  <%= f.number_field :season_lt %>年前まで
  <%= f.submit "検索" %>
<% end %>
<table> 
  <tr>
    <th>投稿した人</th>
    <th>法人名</th>
    <th><%= sort_link(@q, :area, "住所") %></th>
    <th><%= sort_link(@q, :season, "働いていた時期") %></th>
    <th>クチコミ</th>
    <th colspan="3"></th>
  </tr>
<table> 
<% @rumors.each do |rumor| %>
  <tr>
    <td><%= rumor.user.name %></td>
    <td><%= rumor.name %></td>
    <td><%= rumor.area %></td>
    <td><%= rumor.season %></td>
    <td><%= rumor.content %></td>
    <td><%= link_to '詳細', rumor_path(rumor.id) %></td>
    <% if rumor.user == current_user %>
    <td><%= link_to "編集", edit_rumor_path(rumor.id) %></td>
    <td><%= link_to '削除', rumor_path(rumor.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
    </tr>
<% end %>
</table>
<%= paginate @rumors %>