<h1>クチコミ一覧</h1>
<table> 
  <tr>
    <th>法人名</th>
    <th>エリア</th>
    <th>働いていた時期</th>
    <th>クチコミ</th>
  </tr>
<% @rumors.each do |rumor| %>
  <tr>
    <td><%= rumor.user.name %></td>
    <td><%= rumor.name %></td>
    <td><%= rumor.area %></td>
    <td><%= rumor.season %></td>
    <td><%= rumor.content %></td>
    <td><%= link_to '詳細を確認する', rumor_path(rumor.id) %></td>
    <td><%= link_to "クチコミを編集する", edit_rumor_path(rumor.id) %></td>
    <td><%= link_to 'クチコミを削除する', rumor_path(rumor.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくクチコミを投稿する', new_rumor_path %>
<%= link_to 'puro', users_show_path %>