<!DOCTYPE html>
<html>
  <head>
    <title>NurseWorker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <header class="header">
  <body>
    <div class="container">
      <h1>
        <a class="logo" href="/">Nurse Worker</a>
      </h1>
      <ul class="nav">
        <% if user_signed_in? && current_user %>
          <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
          <li><%= link_to "求人一覧", jobs_path %></li>
          <li><%= link_to "看護師一覧", users_path %></li>
          <li><%= link_to "クチコミ一覧", rumors_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% elsif current_corporation %>
          <li><%= link_to 'マイページ', corporation_path(current_corporation.id) %></li>
          <li><%= link_to "看護師一覧", users_path %></li>
          <li><%= link_to "求人一覧", jobs_path %></li>
          <li><%= link_to "ログアウト", destroy_corporation_session_path, method: :delete %></li>
        <% else %>
          <li id="nurse"><%= link_to "看護師登録", new_user_registration_path %>|<%= link_to "ログイン", new_user_session_path %></li>
          <li id="corpo"><%= link_to "法人登録", new_corporation_registration_path %>|<%= link_to "ログイン", new_corporation_session_path %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <div class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p>© 2021 - Nurse Worker - All Rights Reserved.</p>
    </footer>
  </div>
  </body>
</html>



