<div class="login">
<h2><%= t('.新規登録') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"アカウント名" %>
  </div>
  <br>
  <div class="field">
    <%= f.number_field :age, autocomplete: "age", placeholder:"ご年齢" %>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :area, autocomplete: "area", placeholder:"希望エリア (例:仙台市内)" %>
  </div>
  <br>
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder:"メールアドレス" %>
  </div>
  <br>
  <div class="field">
    <%= f.text_area :introduction, placeholder: "自己ＰＲ・希望条件（例）\n経験年数:\n経験科目:\n転職理由:\n転職先に求める事:" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :アカウント画像 %><br />
    <%= f.file_field :image, autocomplete: "image" %>
  </div>
  <br>
  <div class="field">
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード(6文字以上)" %>
  </div>
  <br>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード(確認用)" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit ('新規登録'), class: "btn-square-pop" %>
  </div>
<% end %>
</div>
