<h2><%= t('.新規登録') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :アカウント名 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.number_field :age, autocomplete: "age" %>
  </div>

  <div class="field">
    <%= f.label :"希望エリア (例:仙台市内)" %><br />
    <%= f.text_field :area, autocomplete: "area" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :自己ＰＲ・希望条件 %><br />
    <%= f.text_area :introduction, value: "（例）\n経験年数:\n経験科目:\n転職理由:\n転職先に求める事:" %>
  </div>

  <div class="field">
    <%= f.label :アカウント画像 %><br />
    <%= f.file_field :image, autocomplete: "image" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit ('新規登録') %>
  </div>
<% end %>

